.main {
  padding: 2rem;
}

.heroArea {
  position: relative;
  background-color: #000;
  height: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  overflow: hidden;
}

.overlayImageWrapper {
  position: absolute;
  inset: -80px;
  z-index: 0;
}

.overlayImage {
  position: absolute;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to right, transparent 20%, black 70%);
  mask-image: linear-gradient(to right, transparent 20%, black 70%);
}

.heroText {
  position: relative;
  z-index: 2;
}

.ctas {
  display: flex;
  gap: 16px;
}

.ctas a {
  appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: 1px solid transparent;
  transition:
    background 0.2s,
    color 0.2s,
    border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.primary {
  background-color: #cf0119;
  color: #fff;
  border: var(--foreground);
  gap: 8px;
}

a.secondary {
  border-color: var(--gray-alpha-200);
  min-width: 158px;
}

.buttonContainer {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background-color: #000;
    color: #fff;
    /* border: 1px solid #cfc7bb; */
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}