.main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  color: #fff
}

.heroArea {
  position: relative;
  background-color: #000;
  height: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  overflow: hidden;
}

.overlayImageWrapper {
  position: absolute;
  inset: -80px;
  z-index: 0;
}

.overlayImage {
  position: absolute;
  object-fit: cover;
  -webkit-mask-image: linear-gradient(to right, transparent 20%, black 70%);
  mask-image: linear-gradient(to right, transparent 20%, black 70%);
}

.heroText {
  position: relative;
  z-index: 2;
}